.contact-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 50px;
  > .line {
    height: 0;
    width: 80px;
    margin-right: 10px;
    border: 2px solid#4B47FF;
  }
  > h2 {
    font-size: 77px;
  }
}

.full-contact-section {
  width: 100%;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

.contact-text {
  max-width: 450px;
  > h3 {
    margin-bottom: 15px;
    font-size: 23px;
  }
  > p {
    margin-bottom: 15px;
  }
}

.question-div {
  display: flex;
  > #contact-me {
    margin-left: 10px;
  }
}

form {
  max-width: 600px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  > #name-field,
  #email-field {
    width: 100%;
    background-color: #141d2f;
    border: 1px solid #4b47ff;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
    margin-bottom: 15px;
    color: white;
    &:hover {
      border: 1px solid #00bee8;
      cursor: pointer;
    }
  }
}

.input-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 25px;
  >input{
    width: 100%;
    outline: none;
    background-color: #141d2f;
    border: none;
    color: white;
  }
  >img{
    height: 20px;
    width: 20px;
  }
}

#message-field {
  align-items: flex-start !important;
  width: 100%;
  min-height: 200px;
  margin-bottom: 15px;
  background-color: #141d2f;
  border: 1px solid #4b47ff;
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  &:hover {
    border: 1px solid #00bee8;
    cursor: pointer;
  }
  >textarea{
    width: 100%;
    height: 100%;
    background-color: #141d2f;
    border: none;
    overflow-y: auto;
    color: white;
    outline: none;
    resize: none;
  }
}

// .error-icon {
//   position: absolute;
//   top: 50%;
//   right: 10px; /* Adjust the distance from the right as needed */
//   transform: translateY(-50%);
//   height: 25px; /* Adjust the size as needed */
//   width: 25px;
// }

.checkbox-div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  width: 100%;
  font-size: 14px;

  > input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    cursor: pointer;
    outline: none;
    position: relative;
    border: 2px solid #00bee8; /* Randfarbe ändern, wenn ausgewählt */
    border-radius: 2px;
    &:hover {
      background-color: #00bee879;
    }
  }

  > input[type="checkbox"]:checked::before {
    content: "\2713";
    font-size: 14px;
    color: #00bee8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  > label a {
    text-decoration: none;
    color: #4b47ff;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

#sendButton {
  border: none;
  background-color: #b6b6b6;
  border-radius: 10px;
  padding: 15px 30px 15px 30px;
  max-width: 250px;
  color: white;
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 50px;
}

.form-scroll-up{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.scroll-up {
  padding: 0;
  margin: 0;
  margin-right: 75px;
  >img{
    height: 39px;
    width: 39px;
    &:hover{
      filter: brightness(0) saturate(100%) invert(56%) sepia(44%) saturate(3405%) hue-rotate(153deg) brightness(101%) contrast(101%);
    }
  }
}

.is-invalid {
  border: 1px solid #E61C40 !important;
  color: #E61C40;
}

.is-invalid-checkbox{
  border: 1px solid #E61C40 !important;
  color: #E61C40;
}

.invalid-feedback{
  color: #E61C40;
  font-size: 14px;
}


::placeholder {
  color: white;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

::-webkit-resizer {
  display: none;
}
