#sendButton.success {
    background-color: #70e61d;
  }
  
  #sendButton.loading {
    background-color: #00bee8;
  }
  
  .loading-spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #00bee8;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .form-scroll-up {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
  }
  
  .scroll-up {
    padding: 0;
    margin: 0;
    margin-right: 75px;
    position: absolute;
    top: 600px;
    > img {
      height: 39px;
      width: 39px;
      &:hover {
        filter: brightness(0) saturate(100%) invert(56%) sepia(44%)
          saturate(3405%) hue-rotate(153deg) brightness(101%) contrast(101%);
      }
    }
  }
  
  .is-invalid {
    border: 1px solid #e61c40 !important;
    color: #e61c40;
  }
  
  .is-invalid-checkbox {
    border: 1px solid #e61c40 !important;
    color: #e61c40;
  }
  
  .input-container.is-valid {
    border: 1px solid #70e61d !important;
  }
  
  .success-icon {
    height: 20px;
    width: 20px;
    margin-left: 10px;
  }
  
  .invalid-feedback {
    color: #e61c40;
    font-size: 14px;
  }
  
  ::placeholder {
    color: white;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }
  
  ::-webkit-resizer {
    display: none;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000000s ease-in-out 0s;
    -webkit-text-fill-color: #ffffff;
  }
  
  #bg-img{
    position: absolute;
    z-index: -1;
    height: 500px;
    bottom: -200px;
    left: -200px 
  }