<div class="portfolio-header" [ngClass]="{'fly-in-right': isScrolledIntoView}">
    <div class="headline">
        <div class="line1"></div>
        <h2>Portfolio</h2>
        <div class="line2"></div>
    </div>
    <p>This page is a sample of my work! Scroll down to view other projects I have developed.</p>
</div>
<div class="margin-container">
    <div class="portfolio-full-page">
        <div *ngFor="let index of [0, 1, 2]" class="portfolio-content" [class.reverse-order]="index === 1" [ngClass]="{'fly-in-left': isScrolledIntoView && index !== 1, 'fly-in-right': isScrolledIntoView && index === 1}">
            <img [src]="imageSrcArray[index]" alt="">
            <div class="portfolio-description">
                <h3>{{ h3TitleArray[index] }}</h3>
                <h4>{{ h4TitleArray[index] }}</h4>
                <p [class.reverse-text]="index === 1 || index === 2">{{ pTextArray[index] }}</p>
                <div class="links">
                    <a class="project-link" [href]="liveTestLinkArray[index]" target="_blank">Live test</a>
                    <a class="github-link" [href]="githubLinkArray[index]" target="_blank">Github</a>
                </div>
            </div>
        </div>
    </div>
</div>