.portfolio-content{
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1s ease, transform 1s ease;
}

.portfolio-header,
.reverse-order{
opacity: 0;
transform: translateX(100px);
transition: opacity 1s ease, transform 1s ease;
}

.fly-in-left {
opacity: 1;
transform: translateX(0);
}

.fly-in-right {
opacity: 1;
transform: translateX(0);
}

.margin-container {
  width: 100%;
}

.portfolio-full-page {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  // width: 100%;
  gap: 10%;
}

.portfolio-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.headline {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  > h2 {
    font-size: 77px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  > .line1 {
    height: 0;
    width: 110px;
    border: 2px solid #4b47ff;
  }
  > .line2 {
    height: 0;
    width: 500px;
    border: 2px solid #4b47ff;
  }
}

.portfolio-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  &.reverse-order {
    flex-direction: row-reverse;
    > .portfolio-description {
      align-items: flex-end;
      > p {
        margin-right: 0;
        text-align: end;
      }
    }
  }
  > img {
    height: 300px;
    // margin-right: 100px;
  }
}

.portfolio-description {
  display: flex;
  flex-direction: column;
  width: 500px;
  // margin-right: 100px;
  > h3 {
    font-size: 32px;
    color: #4b47ff;
    font-weight: 800;
  }
  > h4 {
    font-size: 20px;
    font-weight: 400;
    color: #00bee8;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  > p {
    margin-bottom: 15px;
  }
}

.links {
  margin-top: 20px;
  > .project-link {
    text-decoration: none;
    border: none;
    color: white;
    background-color: #4b47ff;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    font-size: 23px;
    font-weight: 400;
    margin-right: 86px;
    &:hover {
      cursor: pointer;
      background-color: #00bee8;
    }
  }
  > .github-link {
    text-decoration: none;
    border: 1px solid #00bee8;
    color: white;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    font-size: 23px;
    font-weight: 400;
    &:hover {
      cursor: pointer;
      background-color: #00bee8;
    }
  }
}

#bg-img1{
  position: absolute;
  z-index: -1;
  height: 500px;
  bottom: 100px;
  left: -200px;
}

#bg-img2{
  position: absolute;
  z-index: -1;
  bottom: -300px;
  height: 500px;
  right: -250px;
}