<div class="portfolio-header" [ngClass]="{'fly-in-right': isScrolledIntoView}">
    <div class="headline">
        <div class="line1"></div>
        <h2>Portfolio</h2>
        <div class="line2"></div>
    </div>
    <p>{{ getTranslation('portfolioText') }}</p>
</div>
<div class="margin-container">
    <div class="portfolio-full-page">
        <div class="portfolio-content" [ngClass]="{'fly-in-left': isScrolledIntoView}">
            <img src="{{ imageSrcArray[0] }}" alt="">
            <div class="portfolio-description">
                <h3>{{ h3TitleArray[0] }}</h3>
                <h4>{{ h4TitleArray[0] }}</h4>
                <p>{{ getTranslation('joinText') }}</p>
                <div class="links">
                    <a class="project-link" href="{{ liveTestLinkArray[0] }}" target="_blank">{{ getTranslation('test')
                        }}</a>
                    <a class="github-link" href="{{ githubLinkArray[0] }}" target="_blank">Github</a>
                </div>
            </div>
        </div>
        <div class="portfolio-content reverse-order" [ngClass]="{'fly-in-right': isScrolledIntoView}">
            <img src="{{ imageSrcArray[1] }}" alt="">
            <div class="portfolio-description">
                <h3>{{ h3TitleArray[1] }}</h3>
                <h4>{{ h4TitleArray[1] }}</h4>
                <p class="reverse-text">{{ getTranslation('eplText') }}</p>
                <div class="links">
                    <a class="project-link" href="{{ liveTestLinkArray[1] }}" target="_blank">{{ getTranslation('test')
                        }}</a>
                    <a class="github-link" href="{{ githubLinkArray[1] }}" target="_blank">Github</a>
                </div>
            </div>
        </div>
        <div class="portfolio-content" [ngClass]="{'fly-in-left': isScrolledIntoView}">
            <img src="{{ imageSrcArray[2] }}" alt="">
            <div class="portfolio-description">
                <h3>{{ h3TitleArray[2] }}</h3>
                <h4>{{ h4TitleArray[2] }}</h4>
                <p>{{ getTranslation('pokedexText') }}</p>
                <div class="links">
                    <a class="project-link" href="{{ liveTestLinkArray[2] }}" target="_blank">{{ getTranslation('test')
                        }}</a>
                    <a class="github-link" href="{{ githubLinkArray[2] }}" target="_blank">Github</a>
                </div>
            </div>
        </div>
        <img src="../../../../assets/img/background/purple-shade4.png" alt="" id="bg-img1">
        <img src="../../../../assets/img/background/blue-shade2.png" alt="" id="bg-img2">
    </div>
</div>