.margin-container {
  width: 100%;
}

.portfolio-full-page {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
  // width: 100%;
  gap: 10%;
}

.portfolio-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.headline {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  > h2 {
    font-size: 77px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  > .line1 {
    height: 0;
    width: 110px;
    border: 2px solid #4b47ff;
  }
  > .line2 {
    height: 0;
    width: 500px;
    border: 2px solid #4b47ff;
  }
}

.portfolio-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  &.reverse-order {
    flex-direction: row-reverse;
    > .portfolio-description {
      align-items: flex-end;
      > p {
        margin-right: 0;
        text-align: end;
      }
    }
  }
  > img {
    height: 300px;
    // margin-right: 100px;
  }
}

.portfolio-description {
  display: flex;
  flex-direction: column;
  width: 500px;
  // margin-right: 100px;
  > h3 {
    font-size: 32px;
    color: #4b47ff;
    font-weight: 800;
  }
  > h4 {
    font-size: 20px;
    font-weight: 400;
    color: #00bee8;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  > p {
    margin-bottom: 15px;
  }
}

.links {
  margin-top: 20px;
  > .project-link {
    text-decoration: none;
    border: none;
    color: white;
    background-color: #4b47ff;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    font-size: 23px;
    font-weight: 400;
    margin-right: 86px;
    &:hover {
      cursor: pointer;
      background-color: #00bee8;
    }
  }
  > .github-link {
    text-decoration: none;
    border: 1px solid #00bee8;
    color: white;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    font-size: 23px;
    font-weight: 400;
    &:hover {
      cursor: pointer;
      background-color: #00bee8;
    }
  }
}

@media screen and (max-width: 1200px) {
  .headline {
    > h2 {
      font-size: 57px;
    }
  }
  .portfolio-full-page {
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    gap: 0;
  }

  .portfolio-content {
    justify-content: flex-end;
  }

  .portfolio-content img {
    height: 250px;
  }

  .portfolio-description {
    margin-right: 50px;
    margin-left: 50px;
  }

  .links {
    > .project-link {
      margin-right: 40px;
      padding: 10px 20px 10px 20px;
    }

    > .github-link {
      padding: 10px 20px 10px 20px;
    }
  }
}

@media screen and (max-width: 900px) {
  .portfolio-content img {
    height: 200px;
  }

  .links {
    > .project-link {
      font-size: 16px;
    }

    > .github-link {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 770px) {
  .portfolio-header {
    > p {
      margin-left: 50px;
      margin-right: 50px;
    }
  }
  .portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    > .portfolio-description {
      text-align: center;
    }
    &.reverse-order {
      flex-direction: column;
      text-align: center;
      > .portfolio-description {
        align-items: center;
        > p {
          margin-right: 0;
          text-align: center;
        }
      }
    }
  }

  .portfolio-content img {
    height: 250px;
    margin-bottom: 50px;
  }

  .links {
    > .project-link {
      font-size: 16px;
    }

    > .github-link {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 520px) {
  .portfolio-header {
    > p {
      margin-left: 20px;
      margin-right: 20px;
    }
    .headline h2 {
      font-size: 40px;
      margin-bottom: 20px;
    }
  }

  .portfolio-content img {
    height: 200px;
    margin-bottom: 50px;
  }

  .portfolio-description {
    width: 400px;
  }
}

@media screen and (max-width: 425px) {
  .portfolio-description {
    width: 300px;
  }
}
