@media screen and (max-width: 1200px) {
  .headline {
    > h2 {
      font-size: 57px;
    }
  }
  .portfolio-full-page {
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    gap: 0;
  }

  .portfolio-content {
    justify-content: flex-end;
  }

  .portfolio-content img {
    height: 250px;
  }

  .portfolio-description {
    margin-right: 50px;
    margin-left: 50px;
  }

  .links {
    > .project-link {
      margin-right: 40px;
      padding: 10px 20px 10px 20px;
    }

    > .github-link {
      padding: 10px 20px 10px 20px;
    }
  }
}

@media screen and (max-width: 900px) {
  .portfolio-content img {
    height: 200px;
  }

  .links {
    > .project-link {
      font-size: 16px;
    }

    > .github-link {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 770px) {
  .portfolio-header {
    > p {
      margin-left: 50px;
      margin-right: 50px;
    }
  }
  .portfolio-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    > .portfolio-description {
      text-align: center;
    }
    &.reverse-order {
      flex-direction: column;
      text-align: center;
      > .portfolio-description {
        align-items: center;
        > p {
          margin-right: 0;
          text-align: center;
        }
      }
    }
  }

  .portfolio-content img {
    height: 250px;
    margin-bottom: 50px;
  }

  .links {
    > .project-link {
      font-size: 16px;
    }

    > .github-link {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 520px) {
  .portfolio-header {
    > p {
      margin-left: 20px;
      margin-right: 20px;
    }
    .headline h2 {
      font-size: 40px;
      margin-bottom: 20px;
    }
  }

  .portfolio-content img {
    height: 200px;
    margin-bottom: 50px;
  }

  .portfolio-description {
    width: 400px;
  }

  #bg-img1 {
    left: -350px;
  }

  #bg-img2 {
    right: -300px;
  }
}

@media screen and (max-width: 425px) {
  .portfolio-description {
    width: 300px;
  }
}
