<div class="about-me-container">
    <div class="section-left" [ngClass]="{'fly-in-left': isScrolledIntoView}">
        <h2>{{ getTranslation('aboutMeHeader') }}</h2>
        <span>{{ getTranslation('aboutMeText') }}
        </span>
        <div class="bulb-section">
            <img src="../../../assets/img/icons/bulb.png" alt="bulb">
            <p>{{ getTranslation('bulbText') }}</p>

        </div>
        <div class="puzzle-section">
            <img src="../../../assets/img/icons/puzzle.png" alt="puzzle">
            <p>{{ getTranslation('puzzleText') }}
            </p>
        </div>
    </div>
    <div class="section-right" [ngClass]="{'fly-in-right': isScrolledIntoView}">
        <img id="about-picture" src="../../../assets/img/personal/me1.png" alt="me">
        <div class="line">
        </div>
    </div>
    <img src="../../../assets/img/background/purple-shade1.png" alt="" id="bg-img">
</div>