<div class="about-me-container">
    <div class="section-left">
        <h2>About me</h2>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis veritatis excepturi recusandae earum
            laboriosam similique dicta rem, exercitationem error. In tempora et fuga ea amet hic omnis, quia odit
            cumque!</span>
        <div class="bulb-section">
            <img src="../../../assets/img/icons/bulb.png" alt="bulb">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium eum natus, quasi ad fugiat
                inventore quos eaque? Delectus voluptates aut necessitatibus vel. Cumque, labore hic placeat commodi
                quas libero atque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim doloremque
                voluptatibus alias. Quaerat hic vero unde laboriosam optio minus, aspernatur earum, totam asperiores
                explicabo exercitationem veritatis eaque facere amet! Quia.</p>
        </div>
        <div class="puzzle-section">
            <img src="../../../assets/img/icons/puzzle.png" alt="puzzle">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse atque reiciendis, iste odio, cupiditate
                porro nemo expedita, id officia voluptatibus commodi consequatur? Temporibus, accusamus nisi repellendus
                molestiae ipsum ipsam inventore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut doloremque
                harum quisquam at illum. Debitis officiis excepturi id tempora accusamus ab, nam, non minima doloribus
                eligendi recusandae consequuntur consectetur. Fugit!</p>
        </div>
    </div>
    <div class="section-right">
        <img id="about-picture" src="../../../assets/img/projects/pc-mockup.png" alt="">
        <div class="line">
        </div>
    </div>
</div>