<div class="landing-page-content">
    <img src="../../../assets/img/personal/me2.png" alt="me">
    <div class="landing-page-content-right">
        <div class="landing-page-intro">
            <span>I am</span>
            <div class="landing-page-name">
                <p id="my-name">Julian Messner</p>
                <p id="job-name">FRONTEND DEVELOPER</p>
            </div>
        </div>
        <div class="btn">
            <a href="#contact-section">Let's talk!</a>
        </div>
    </div>
</div>
<div class="landing-page-bottom">
    <div class="contact-right">
        <div class="line"></div>
        <div class="social-icons">
            <a href="https://github.com/JulianMessner" target="_blank"><img src="../../../assets/img/social/github.png" alt=""></a>
            <a href="https://www.linkedin.com/in/julian-messner-4572642b8/" target="_blank"><img src="../../../assets/img/social/linkedin.png" alt=""></a>
            <a href="mailto:messner.julian.johannes@gmail.com"> <img src="../../../assets/img/social/mail.png" alt="mail">
            </a>
        </div>
    </div>
    <div class="scroll-down">
        <p>Scroll down</p>
        <img src="../../../assets/img/icons/arrow-down.png" alt="arrow-down">
    </div>
</div>