.landing-page-content {
  display: flex;
  width: auto;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  // background-image: url(../../../assets/img/background/group-shade.png);
  // background-repeat: no-repeat;
  // background-position: left;
  // background-size: contain;
  .image-group {
    > #me-image {
      height: 350px;
      margin-left: 40px;
      animation: slideInLeft 700ms ease-in-out;
    }
  }
}

#vector-image {
  position: absolute;
  z-index: -1;
  top: 320px;
  width: 100%;
}

#bg-image {
  position: absolute;
  top: -10px;
  z-index: -2;
  height: 400px;
  width: auto;
  left: -20px;
}

.image-group {
  position: relative;
}

.landing-page-content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideInRight 700ms ease-in-out;
  > .btn a {
    // position: absolute;
    // top: 400px;
    text-decoration: none;
    color: white;
    background-color: #00bee8;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    font-size: 23px;
    transition: padding 0.3s ease-in-out;
    &:hover {
      padding: 20px 40px;
      background-color: #4b47ff;
    }
  }
}

.landing-page-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  > span {
    font-size: 69px;
    transform: rotate(-90deg);
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    height: auto;
  }
  > .landing-page-name {
    margin: 0;
    > #my-name {
      font-size: 77px;
      padding: 0;
      margin: 0;
      font-weight: 700;
    }
    > #job-name {
      font-size: 54px;
      padding: 0;
      margin: 0;
      margin-bottom: 20px;
      color: #4b47ff;
      padding-bottom: 10px;
    }
  }
}

.landing-page-bottom {
  display: flex;
  position: relative;
  justify-content: space-between;
  animation: slideInLeft 700ms ease-in-out;
}

.contact-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  height: 50px;
  > .line {
    position: absolute;
    left: 0;
    width: 100px;
    height: 0;
    border: 2px solid #4b47ff;
  }
  > .social-icons {
    display: flex;
    align-items: center;
    margin-left: 140px;
    > a {
      margin: 0;
      padding: 0;
    }
  }
  > .social-icons img {
    margin-right: 42px;
    height: 30px;
    width: 30px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    &:hover {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }
  > .social-icons a {
    display: flex;
    align-items: center;
  }
}

.scroll-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: rotate(90deg);
  width: 140px;
  height: auto;
  font-size: 18px;
  position: absolute;
  right: -20px;
  top: 0px;
  padding-right: 100px;
  animation: bounce 2s infinite;
  > img {
    height: 24px;
    width: 24px;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(90deg);
  }
  40% {
    transform: translateY(-10px) rotate(90deg);
  }
  60% {
    transform: translateY(-5px) rotate(90deg);
  }
}

@media screen and (max-width: 1200px) {
  .landing-page-content {
    margin-left: 50px;
    margin-right: 50px;
  }

  .landing-page-intro {
    > span {
      font-size: 50px;
    }
    > .landing-page-name {
      > #my-name {
        font-size: 57px;
      }
      > #job-name {
        font-size: 40px;
      }
    }
  }

  .landing-page-content-right {
    > a {
      font-size: 18px;
    }
  }

  .scroll-down {
    right: -70px;
  }
}

@media screen and (max-width: 1020px) {
  .landing-page-content {
    .image-group {
      > #me-image {
        height: 300px;
      }
    }
  }

  .landing-page-intro {
    > span {
      font-size: 36px;
    }
    > .landing-page-name {
      > #my-name {
        font-size: 40px;
        margin-top: 8px;
      }
      > #job-name {
        font-size: 30px;
      }
    }
  }

  #vector-image {
    top: 300px;
  }

  #bg-image {
    height: 350px;
  }

  .scroll-down {
    right: -65px;
  }

  .landing-page-content-right {
    > .btn a {
      padding: 10px 20px 10px 20px;
      &:hover {
        padding: 15px 30px;
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .landing-page-content {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 70px;
  }

  #vector-image {
    top: 350px;
  }

  .image-group {
    > #me-image {
      margin-right: 50px;
    }
  }
  .landing-page-content-right {
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .scroll-down {
    display: none;
  }

  .landing-page-bottom {
    justify-content: center;
  }

  .landing-page-intro {
    margin-right: 20px;
  }

  .contact-right {
    > .social-icons {
      margin-left: 40px;
    }
  }
}

@media screen and (max-width: 470px) {
  .landing-page-content {
    margin-left: 10px;
    margin-right: 10px;
  }

  .landing-page-intro {
    margin-bottom: 30px;
    > span {
      width: auto;
      text-align: center;
      font-size: 30px;
      margin-bottom: 10px;
    }
    > .landing-page-name {
      > #my-name {
        font-size: 36px;
      }
      > #job-name {
        font-size: 27px;
        margin-bottom: 0;
      }
    }
  }
  .landing-page-content-right {
    > .btn a {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 395px) {
  .landing-page-intro {
    > span {
      margin-right: 0;
      display: inline;
      width: auto;
      font-size: 25px;
    }
    > .landing-page-name {
      flex: 1;
      display: inline;
      width: 250px;
      > #my-name {
        font-size: 30px;
      }
      > #job-name {
        font-size: 22px;
      }
    }
  }
  .contact-right {
    > .line {
      width: 60px;
    }
  }
}
