<div class="landing-page-content">
    <img src="../../../assets/img/projects/pc-mockup.png" alt="">
    <div class="landing-page-content-right">
        <div class="landing-page-intro">
            <span>I am</span>
            <div class="landing-page-name">
                <p id="my-name">Julian Messner</p>
                <p id="job-name">FRONTEND DEVELOPER</p>
            </div>
        </div>
        <div class="btn">
            <a href="#contact-section">Let's talk!</a>
        </div>
    </div>
</div>
<div class="landing-page-bottom">
    <div class="contact-right">
        <div class="line"></div>
        <div class="social-icons">
            <img src="../../../assets/img/social/github.png" alt="">
            <img src="../../../assets/img/social/linkedin.png" alt="">
            <a href="mailto:messner.julian.johannes@gmail.com"> <img src="../../../assets/img/social/mail.png" alt="">
            </a>
        </div>
    </div>
    <div class="scroll-down">
        <p>Scroll down</p>
        <img src="../../../assets/img/icons/arrow-down.png" alt="arrow-down">
    </div>
</div>