.image-group,
.contact-right {
  animation: fly-in-left 1s ease forwards;
}

.landing-page-content-right,
.scroll-down {
  animation: fly-in-right 1s ease forwards;
}

.full-landing-page{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1900px;
  margin-top: 100px;
  position: relative;
}

.landing-page-content {
  display: flex;
  width: auto;
  max-width: 1440px;
  justify-content: flex-end;
  margin-top: 100px;
  align-items: center;
  margin-bottom: 100px;
  padding: 0;
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  .image-group {
    position: absolute;
    left: 0;
    top: -60px;
    > #me-image {
      height: 350px;
      margin-left: 40px;
    }
  }
}

#vector-image {
  position: absolute;
  z-index: 2;
  top: 200px;
  width: 100%;
}

#bg-image {
  position: absolute;
  top: -10px;
  z-index: -2;
  height: 400px;
  width: auto;
  left: -20px;
}

.image-group {
  position: relative;
}

.landing-page-content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  > .btn a {
    text-decoration: none;
    color: white;
    background-color: #00bee8;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    font-size: 23px;
    transition: padding 0.3s ease-in-out;
    &:hover {
      padding: 20px 40px;
      background-color: #4b47ff;
    }
  }
}

.landing-page-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  > span {
    font-size: 69px;
    transform: rotate(-90deg);
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    height: auto;
  }
  > .landing-page-name {
    margin: 0;
    > #my-name {
      font-size: 77px;
      padding: 0;
      margin: 0;
      font-weight: 700;
    }
    > #job-name {
      font-size: 54px;
      padding: 0;
      margin: 0;
      margin-bottom: 20px;
      color: #4b47ff;
      padding-bottom: 10px;
    }
  }
}

.landing-page-bottom {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 100px;
  z-index: 3;
}
