<div class="full-landing-page">


    <img id="vector-image" src="../../../assets/img/background/vector.png" alt="">
    <div class="below-full">


        <div class="landing-page-content">
            <div class="image-group">
                <img id="me-image" src="../../../assets/img/personal/me2.png" alt="me">
                <img id="bg-image" src="../../../assets/img/background/group-shade.png" alt="">
            </div>
            <div class="landing-page-content-right">
                <div class="landing-page-intro">
                    <span>{{ getTranslation('iAm') }}</span>
                    <div class="landing-page-name">
                        <p id="my-name">Julian Messner</p>
                        <p id="job-name">{{ getTranslation('jobName') }}</p>
                    </div>
                </div>
                <div class="btn">
                    <a href="#contact-section">{{ getTranslation('landingPageContact') }}</a>
                </div>
            </div>
        </div>
        <div class="landing-page-bottom">
            <div class="contact-right">
                <div class="line"></div>
                <div class="social-icons">
                    <a href="https://github.com/JulianMessner" target="_blank"><img
                            src="../../../assets/img/social/github.png" alt=""></a>
                    <a href="https://www.linkedin.com/in/julian-messner-4572642b8/" target="_blank"><img
                            src="../../../assets/img/social/linkedin.png" alt=""></a>
                    <a href="mailto: mail@julian-messner.com"> <img src="../../../assets/img/social/mail.png"
                            alt="mail">
                    </a>
                </div>
            </div>
            <div class="scroll-down">
                <p>{{ getTranslation('scrollDown') }}</p>
                <img src="../../../assets/img/icons/arrow-down.png" alt="arrow-down">
            </div>
        </div>

    </div>
</div>