@media screen and (max-width: 520px) {
  .landing-page-intro{
    >span{
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 520px) {
  .landing-page-content {
    margin-left: 10px;
    margin-right: 10px;
  }

  .landing-page-intro {
    margin-bottom: 30px;
    > span {
      width: auto;
      text-align: center;
      font-size: 30px;
      margin-bottom: 10px;
    }
    > .landing-page-name {
      > #my-name {
        font-size: 36px;
      }
      > #job-name {
        font-size: 27px;
        margin-bottom: 0;
      }
    }
  }
  .landing-page-content-right {
    > .btn a {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 440px) {
  .landing-page-intro {
    > span {
      margin-right: 0;
      display: inline;
      width: auto;
      font-size: 25px;
    }
    > .landing-page-name {
      flex: 1;
      display: inline;
      width: 250px;
      > #my-name {
        font-size: 30px;
      }
      > #job-name {
        font-size: 22px;
      }
    }
  }
}

@media screen and (min-width: 1700px) {
  .landing-page-content {
    > .image-group {
      > #me-image,
      #bg-image {
        height: 500px;
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .full-landing-page{
    width: 100vw;
    max-width: 3000px;
  }

  .below-full{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing-page-bottom{
    max-width: 1900px;
    width: 100%;
  }
}

@media screen and (min-width: 1900px) {
  .landing-page-content {
    > .image-group {
      > #me-image,
      #bg-image {
        height: 650px;
      }
    }
  }

  #vector-image{
    top: 350px;
  }
}