@media screen and (max-width: 1200px) {
  .landing-page-content {
    margin-left: 50px;
    margin-right: 50px;
  }

  .landing-page-intro {
    > span {
      font-size: 50px;
    }
    > .landing-page-name {
      > #my-name {
        font-size: 57px;
      }
      > #job-name {
        font-size: 40px;
      }
    }
  }

  .landing-page-content-right {
    > a {
      font-size: 18px;
    }
  }

  .scroll-down {
    right: -70px;
  }
}

@media screen and (max-width: 1020px) {
  .landing-page-content {
    .image-group {
      > #me-image {
        height: 300px;
      }
    }
  }

  .landing-page-intro {
    > span {
      font-size: 36px;
    }
    > .landing-page-name {
      > #my-name {
        font-size: 40px;
        margin-top: 8px;
      }
      > #job-name {
        font-size: 30px;
      }
    }
  }

  #vector-image {
    top: 300px;
  }

  #bg-image {
    height: 350px;
  }

  .scroll-down {
    right: -65px;
  }

  .landing-page-content-right {
    > .btn a {
      padding: 10px 20px 10px 20px;
      &:hover {
        padding: 15px 30px;
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .landing-page-content {
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 70px;
  }

  #vector-image {
    top: 350px;
  }

  .image-group {
    > #me-image {
      margin-right: 50px;
    }
  }
  .landing-page-content-right {
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .scroll-down {
    display: none;
  }

  .landing-page-bottom {
    justify-content: center;
  }

  .landing-page-intro {
    margin-right: 20px;
  }

  .contact-right {
    > .social-icons {
      margin-left: 40px;
    }
  }
}
