<div class="skills-full-content">
    <div class="skills-container">
        <div class="skills-icons">
            <div class="individual-icons">
                <img src="../../../assets/img/skills/angular.png" alt="Angular">
                <p>Angular</p>
            </div>
            <div class="individual-icons">
                <img src="../../../assets/img/skills/typescript.png" alt="TypeScript">
                <p>TypeScript</p>
            </div>
            <div class="individual-icons">
                <img src="../../../assets/img/skills/javascript.png" alt="JavaScript">
                <p>JavaScript</p>
            </div>
            <div class="individual-icons">
                <img src="../../../assets/img/skills/html.png" alt="HTML">
                <p>HTML</p>
            </div>
            <div class="individual-icons">
                <img src="../../../assets/img/skills/css.png" alt="CSS">
                <p>CSS</p>
            </div>
            <div class="individual-icons">
                <img src="../../../assets/img/skills/git.png" alt="GIT">
                <p>GIT</p>
            </div>
            <div class="individual-icons">
                <img src="../../../assets/img/skills/firebase.png" alt="Firebase">
                <p>Firebase</p>
            </div>
            <div class="individual-icons">
                <img src="../../../assets/img/skills/api.png" alt="API">
                <p>API-Integration</p>
            </div>
            <div class="individual-icons">
                <img src="../../../assets/img/skills/material-design.png" alt="Material Design">
                <p>Material Design</p>
            </div>
            <div class="individual-icons">
                <img src="../../../assets/img/skills/bootstrap.png" alt="Bootstrap">
                <p>Bootstrap</p>
            </div>
            <div class="individual-icons">
                <img src="../../../assets/img/skills/scrum.png" alt="Scrum">
                <p>Scrum</p>
            </div>
        </div>
        <div class="skills-text">
            <div class="line"></div>
            <h2>My skills</h2>
            <p>I have gained experience in building projects with various front end technologies and concepts.</p>
            <div class="btn">
                <a href="#contact-section">Get in touch</a>
            </div>
        </div>
    </div>
    <div class="btn responsive">
        <a href="#contact-section">Get in touch</a>
    </div>
</div>