<div class="full-page">
    <!-- <a href="main-page">Back to home</a> -->
    <div class="imprint-content">
        <h1>{{ getTranslation('imprint1') }}</h1>
        <p [innerHTML]="getTranslation('imprint2')"></p>
        <p><b>{{ getTranslation('imprint3') }}</b> Julian Messner</p>
        <p ></p>
        <p><b>{{ getTranslation('imprint5') }}</b> <a href="mailto:julian.messner&#64;icloud.com">julian.messner&#64;icloud.com</a></p>

        <p [innerHTML]="getTranslation('imprint6')"></p>
        <p><b>{{ getTranslation('imprint7') }}</b> {{ getTranslation('imprint8') }}
            <a href="https://ec.europa.eu/consumers/odr">https://ec.europa.eu/consumers/odr</a></p>
        <p [innerHTML]="getTranslation('imprint9')"></p>
        <p [innerHTML]="getTranslation('imprint10')"></p>
        <p>Source: <a href="https://www.rechtstexte-generator.at/impressum-generator/">Imprint Generator Austria</a>
            {{ getTranslation('imprint11') }}<a href="https://ortner-rechtsanwalt.at">Vienna Lawyer</a></p>
    </div>
</div>