* {
  margin: 0;
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../src/assets/fonts/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  max-width: 1440px;
  max-height: 100%;
  color: white;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  background-color: #151d2f;
  overflow-x: hidden;
  background-image: url(./assets/img/background/vector.png);
  background-repeat: no-repeat;
  background-position: 0px 350px; /* Ändern Sie die Hintergrundposition */
  background-size: 100%; 
}