<div class="header">
    <div class="header-content">
        <div class="header-logo">
            <a href=""><img src="../../../assets/img/logo/mA (1).png" alt="logo"></a>
        </div>
        <div class="nav-links">
            <a href="#about-me-section">About me</a>
            <a href="#skills-section">Skills</a>
            <a href="#portfolio-section">Portfolio</a>
            <a href="#contact-section">Contact</a>
        </div>
        <img id="responsive-nav-icon" src="../../../assets/img/icons/responsive-navbar.png" alt="responsive-navbar"
            [ngClass]="{'hide': isResponsiveNavVisible, 'showIcon': !isResponsiveNavVisible}"
            (click)="toggleResponsiveNav()">
    </div>


    <div class="responsive-nav" [ngClass]="{'show': isResponsiveNavVisible, 'hideDiv': slideOut}">        <img id="close-navbar"
            src="../../../assets/img/icons/close-navbar.png" alt="close navbar" (click)="closeResponsiveNav()">
        <div class="nav-links-responsive">
            <a (click)="closeResponsiveNav()" href="#about-me-section">About me</a>
            <a (click)="closeResponsiveNav()" href="#skills-section">Skills</a>
            <a (click)="closeResponsiveNav()" href="#portfolio-section">Portfolio</a>
            <a (click)="closeResponsiveNav()" href="#contact-section">Contact</a>
        </div>
    </div>
</div>