.header {
  width: auto;
  height: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 37px;
  background-color: #151d2f;
  font-size: 23px;
  margin-left: 100px;
  margin-right: 100px;
  > a img {
    border-radius: 50%;
    object-fit: cover;
    height: 50px;
    width: auto;
  }
  > .nav-links {
    gap: 29px;
    display: flex;
    align-items: center;
    > a {
      color: white;
      text-decoration: none;
      font-size: 23px;
      &:hover {
        color: #00bee8;
        cursor: pointer;
      }
    }
  }
}
