<footer>
    <div class="footer-full-content">
        <div class="logo-and-imprint">
            <img src="../../../assets/img/logo/mA (1).png" alt="">
            <div class="link-div">
                <a href="imprint" target="_blank">{{ getTranslation('footerImprint') }}</a>
            </div>
        </div>

        <span>© Julian Messner 2024</span>

        <div class="social-links">
            <a href="https://github.com/JulianMessner" target="_blank"><img src="../../../assets/img/social/github.png"
                    alt="Github"></a>
            <a href="https://www.linkedin.com/in/julian-messner-4572642b8/" target="_blank"><img
                    src="../../../assets/img/social/linkedin.png" alt="Linkedin"></a>
            <a href="mailto: julian.messner@icloud.com"><img src="../../../assets/img/social/mail.png" alt="Mail"></a>
        </div>
        <div class="link-div-responsive">
            <a href="imprint" target="_blank">{{ getTranslation('footerImprint') }}</a>
        </div>

    </div>
</footer>