<footer>
    <div class="footer-full-content">
        <div class="logo-and-imprint">
            <img src="../../../assets/img/logo/logo-test2.png" alt="">
            <div class="link-div">
                <a href="imprint">Imprint</a>
            </div>
        </div>

        <span>© Julian Messner 2024</span>

        <div class="social-links">
            <a href="#"><img src="../../../assets/img/social/github.png" alt="Github"></a>
            <a href="mailto: julian.messner@icloud.com"><img src="../../../assets/img/social/mail.png" alt="Mail"></a>
            <a href="#"><img src="../../../assets/img/social/linkedin.png" alt="Linkedin"></a>
        </div>

    </div>
</footer>