footer{
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid #00BEE8;
}

.footer-full-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
}

.logo-and-imprint{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 180px;
    >img{
        height: 50px;
    }
}

span{
    width: 180px;
}

.link-div,
.link-div-responsive{
    padding-left: 15px;
    >a{
        text-decoration: none;
        color: white;
        &:hover{
            border-bottom: 2px solid #00bfe8;
            width: 30px;
        }
    }
}

.link-div-responsive{
    padding: 0;
    display: none;
    >a{
        &:hover{
            width: auto;
        }
    }
}

.social-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    >a{
        margin: 0;
        padding: 0;
        >img{
            height: 35px;
            width: auto;
        }
    }
}

@media screen and (max-width: 1200px) {
    .footer-full-content {
      margin-left: 50px;
      margin-right: 50px;
    }
  }


  @media screen and (max-width: 1020px) {
    .logo-and-imprint{
        align-items: center;
        width: 100px;
    }

    .link-div{
        padding-left: 0;
    }

    .social-links{
        width: 120px;
    }
  }

  @media screen and (max-width: 520px) {
    .logo-and-imprint{
        >img{
            height: 30px;
        }
    }

    .social-links{
        >img{
            height: 30px;
        }
    }

    span{
        font-size: 14px;
    }
  }

  @media screen and (max-width: 520px) {
    .footer-full-content{
        flex-direction: column;
        gap: 30px;
    }

    .link-div{
        display: none;
    }

    .link-div-responsive{
        display: flex;
    }

    .logo-and-imprint{
        >img{
            height: 40px;
        }
    }

    .social-links{
        gap: 42px;
        width: auto;
        >img{
            height: 35px;
        }
    }

    span{
        font-size: 16px;
    }
  }